#root {
  /* max-width: 1280px;
  margin: 0 auto;
  padding: 2rem; */
  text-align: center;
  font-family: "Roboto", "sans-serif";
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

header {
  border-bottom: 1px solid #e5e5e5;
  height: 130px;
  padding: 38px;
  display: flex;
  align-items: center;
  gap: 20px;
  font-size: 40px;
}

.list {
  height: auto;
  padding: 100px 0;
}

li {
  font-size: 25px;
  display: flex;
  justify-content: center;
  gap: 10px;
  align-items: center;
  margin: 20px 0;
}

li input {
  width: 15px;
  height: 15px;
}

li button {
  font-size: 20px;
}

.rm {
  background: none;
  border: none;
  color: #5c48d3;
}

.rm:hover {
  cursor: pointer;
}

.inputfield {
  width: 550px;
  height: 65px;
  border: 1px solid #5c48d3;
  background-color: #f2f7fd;
  border-radius: 10px;
  margin-right: 50px;
  padding: 25px;
  font-size: 22px;
}

.addtask {
  width: 130px;
  height: 65px;
  background-color: #5c48d3;
  border-radius: 10px;
  border: none;
  color: white;
  font-size: 22px;
}
